/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: 'Bitter', serif;
  }
$primary-color: #794328;
$secondary-color: #bb9c36;
$tertiary-color: #f8f5b8;


