<mat-drawer-container hasBackdrop="true" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="sidenav-content">
    <span class="toggle-btn" type="button" mat-button (click)="drawer.toggle()">
      <span *ngIf="!drawer.opened">
        <i class="fa-solid fa-chevron-right"></i>
      </span>

      <span *ngIf="drawer.opened">
        <i class="fa-solid fa-chevron-left"></i>
      </span>
    </span>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>


