<div class="container">

  <ng-container [ngSwitch]="availability">

    <ng-container *ngSwitchCase="'available'">
      <nz-result nzStatus="success" nzTitle="Currently, available" nzSubTitle="">
      </nz-result>
    </ng-container>

    <ng-container *ngSwitchCase="'unavailable'">
      <nz-result nzTitle="Currently unavailable" nzStatus="error"
        nzSubTitle="You will be notified, when availabilty changes back.">
      </nz-result>

    </ng-container>


    <ng-container *ngSwitchCase="'travelled'">
      <nz-result nzStatus="info" nzTitle="Just travelled, will be back."  nzSubTitle="You will be notified, when availabilty changes back.">
      </nz-result>

    </ng-container>


  </ng-container>

  <div *ngIf="message;">
    <h1>{{ message.notification.title }}</h1>
    <h2>{{ message.notification.body }}</h2>
  </div>
  <div *ngIf="!message;">
    No Message Arrived
  </div>
</div>